<div class="container mt-5">
    <h1>WElcome to login and Register System!</h1>
    <a href="/login" class="btn btn-primary">Login</a>
    <a href="/register" class="btn btn-danger">Register</a>
     <a href="/more" class="btn btn-warning">more</a>
     <a href="/writer" class="btn btn-success">For writer</a>
</div>
<div class="about wow fadeInUp" data-wow-delay="0.1s" id="about">
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-lg-6">
                <div class="about-img">
                    <img src="img/pic.png" alt="Image">
                </div>
            </div>
            <div class="col-lg-6">
                <div class="about-content">
                    <div class="section-header text-left">
                        <p>Learn About Me</p>

                    </div>
                    <div class="about-text">
                        <p>
                            My name is Prabin Shrestha I'm a IT student at Nepal collage of information Technology ,
                            Computer Science Department. I was born and raised in Nuwakot, kharanitar. I did +2 in
                            Computer Science from Nobel Academy, new baneshwor. Then I took lateral entry
                            for my IT .I like to travel. I believe travelling gives you a new perspective to
                            everything. You get to know a lot about the different cultures, the cuisines, their history,
                            the language and all the small unique things every place has to offer.
                        </p>
                    </div>

                    <a class="btn" href="">Learn More</a>
                </div>
            </div>
        </div>
    </div>
</div>
