<a href="/" class="btn btn-primary mb-5">Go Back</a>







{{#each writer}}
<div class="card card-body mb-5">
    <h4>{{title}}</h4>
    <p>{{details}}</p>
    
</div>
{{else}}
<p>No Video ideas listed</p>


{{/each}}




